html {
  font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        flex-direction: row;
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #ddd;
}

.chat-content {
    position: relative;
    display: block;
    float: left;
    padding: 8px 15px;
    margin: 0 20px 10px 0;
    clear: both;
    color: #fff;
    background-color: #62a8ea;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}

.chat-body {
    display: block;
    margin: 10px 30px 0 0;
    overflow: hidden
}